@mixin border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@mixin background {
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

$lightColor: #c9c9c9;
$darkColor: #969696;

@import url('https://fonts.googleapis.com/css?family=Bitter|Lobster');

* {
  margin: 0;
  padding: 0;

  @include border-box;

  &::selection {
    background-color: #b4c7e7;
  }
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
}

.textInput {
  padding: 5px;
  transition: border 0.3s;
  border: solid 5px $lightColor;
  font-family: 'Bitter', serif;
  font-size: 20px;
  border-radius: 0;
  appearance: none;

  &:focus {
    border: solid 5px $darkColor;
    outline: none;
  }
}

select {
  padding: 5px;
  padding-right: 35px;
  border: solid 5px $lightColor;
  transition: border 0.3s, background-image 0.3s;
  font-family: 'Bitter', serif;
  font-size: 20px;
  background-color: white;
  background-image: url('./images/downarrow.png');
  background-position: calc(100% - 10px);
  background-repeat: no-repeat;
  background-size: 20px 12.50px;
  border-radius: 0;
  appearance: none;

  &:focus {
    outline: none;
    border: solid 5px $darkColor;
  }
}

.button {
  border: solid 5px $lightColor;
  padding: 5px;
  font-size: 20px;
  background-color: #ccff96;
  font-family: 'Bitter', serif;
  transition: border 0.3s, background-color 0.3s;
  outline: none;
  border-radius: 0;
  appearance: none;
  cursor: pointer;

  &:hover {
    background-color: #9be053;
  }
}

input[type=radio] {
  display: none;

  & + label {
    cursor: pointer;
    user-select: none;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      border-radius: 100%;
      border: solid 2px #969696;
      width: 15px;
      height: 15px;
      background-color: #bab7b7;
      cursor: pointer;
      transition: 0.3s;
      margin-right: 5px;
    }
  }

  &:hover + label:before {
    border: solid 2px #8e8888;
  }

  &:checked + label:before {
    border: solid 2px #797777;
    background-color: #797777;
    box-shadow: inset 0 0 0 3px #bab7b7;
  }
}

input[type=checkbox]  {
  display: none;

  & + label {
    cursor: pointer;
    user-select: none;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      border: solid 2px #969696;
      width: 15px;
      height: 15px;
      background-color: #bab7b7;
      cursor: pointer;
      transition: 0.3s;
      margin-right: 5px;
    }
  }

  &:hover + label:before {
    border: solid 2px #8e8888;
  }

  &:checked + label:before {
    border: solid 2px #797777;
    background-color: #797777;
    box-shadow: inset 0 0 0 3px #bab7b7;
  }
}

.header-container {
  @include background
}

.header {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  width: 100%;
  font-family: 'Lobster', cursive;
  text-align: center;
  border-bottom: solid 2.5px $darkColor;

  &:before {
    position: absolute;
    left: 0;
    z-index: -1;
    content: " ";
    width: 100%;
    height: 100%;
    @include background;
    filter: blur(5px);
  }

  .addoptions-dropdown {
    font-family: 'Bitter', serif;
    margin-top: 10px;
    font-weight: bold;
    user-select: none;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;

    .icon {
      margin-left: 5px;
    }
  }

  h1 {
    font-size: 50px;
    user-select: none;

    @media only screen and (max-width: 400px) {
      font-size: 11vw;
    }
  }
}

// all the search stuff
.search-form {
  display: inline-block;

  .search-input {
    padding-left: 10px;
    padding-right: 81px;
    width: 50vw;
    max-width: 600px;
    margin-top: 20px;

    @media only screen and (max-width: 511px) {
      width: 100%;

      &:focus + .search-button {
        border-right: solid 5px $darkColor;
        border-top: solid 5px $darkColor;
        border-bottom: solid 5px $darkColor;
      }
    }
  }

  .search-button {
    margin-left: 20px;

    @media only screen and (max-width: 511px) {
      margin-left: -81.4px;
      border-left: none;
    }
  }

  .select-input {
    margin-top: 10px;
    width: 100%;
  }
}

.addoptions {
  font-family: 'Bitter', serif;

  .addoptions-content {
    height: auto;
    max-height: 41.5px;
    overflow: hidden;
    transition: 0.3s ease;
    width: auto;
    background-color: $lightColor;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2.5px solid $darkColor;

    @media only screen and (max-width: 615px) {
      max-height: 63px;
    }

    div {
      display: inline-block;
      text-align: left;
      margin-left: 20px;
      margin-right: 20px;

      @media only screen and (max-width: 616px) {
        margin-bottom: 5px;
      }

      p {
        display: inline-block;
        margin-right: 10px;
        font-weight: bold;
      }

      label {
        margin-right: 10px;
      }
    }
  }

  .hide {
    max-height: 0px;
    margin-top: 0px;
    padding: 0px;
  }
}

.content {
  width: 100%;
  padding: 20px;
  font-family: 'Bitter', serif;
  text-align: center;

  h2, .example {
    text-align: center;
    margin-bottom: 10px;
  }

  .copyright {
    white-space: pre-wrap;
    color: $lightColor
  }
}

.verse-box {
  margin: 20px;
  max-width: 500px;
  min-height: 135px;
  background-color: #505050;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px $lightColor;
  transition: border 0.3s;
  text-align: left;

  &:hover {
    border: solid 3px $darkColor;
  }

  .verse-info {
    width: 100%;
    padding: 10px;
    background-color: #101010;
    color: white;
    text-align: left;
  }
  .verse-text {
    padding: 10px;
    color: whitesmoke;
  }
}

.tag {
  display: inline-block;
  background: #585858;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2em;
  margin-right: 10px;
  margin-top: 5px;
}

.loadingIcon {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;

  .loading {
    width: 15px;
    height: 15px;
    position: absolute;
  }

  .loading-1 {
    background-color: #c6563d;
    top: 0;
    left: 0;
    z-index: 1;
    animation: loading-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  .loading-2 {
    background-color: #7a4faf;
    top: 0;
    right: 0;
    animation: loading-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  .loading-3 {
    background-color: #2dc952;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: loading-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }
  .loading-4 {
    background-color: #246d93;
    bottom: 0;
    left: 0;
    animation: loading-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
  }

  @keyframes loading-1_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(0, 15px)}
    50% {transform: translate(15px, 15px)}
    75% {transform: translate(15px, 0)}
  }
  @keyframes loading-2_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(-15px, 0)}
    50% {transform: translate(-15px, 15px)}
    75% {transform: translate(0, 15px)}
  }
  @keyframes loading-3_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(0, -15px)}
    50% {transform: translate(-15px, -15px)}
    75% {transform: translate(-15px, 0)}
  }
  @keyframes loading-4_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(15px, 0)}
    50% {transform: translate(15px, -15px)}
    75% {transform: translate(0, -15px)}
  }
}
