$lightColor: #c9c9c9;
$darkColor: #969696;

@import url('https://fonts.googleapis.com/css?family=Bitter|Lobster');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  &::selection {
    background-color: #b4c7e7;
    color: white;
  }
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
}

input[type=radio] {
  display: none;

  & + label {
    cursor: pointer;
    user-select: none;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      border-radius: 100%;
      border: solid 2px $darkColor;
      width: 15px;
      height: 15px;
      background-color: #bab7b7;
      cursor: pointer;
      transition: 0.3s;
      margin-right: 5px;
    }
  }

  &:hover + label:before {
    border: solid 2px #8e8888;
  }

  &:checked + label:before {
    border: solid 2px #797777;
    background-color: #797777;
    box-shadow: inset 0 0 0 3px #bab7b7;
  }
}

input[type=checkbox]  {
  display: none;

  & + label {
    cursor: pointer;
    user-select: none;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      border: solid 2px $darkColor;
      width: 15px;
      height: 15px;
      background-color: #bab7b7;
      cursor: pointer;
      transition: 0.3s;
      margin-right: 5px;
    }
  }

  &:hover + label:before {
    border: solid 2px #8e8888;
  }

  &:checked + label:before {
    border: solid 2px #797777;
    background-color: #797777;
    box-shadow: inset 0 0 0 3px #bab7b7;
  }
}

select {
  padding: 5px;
  padding-right: 35px;
  border: solid 5px $lightColor;
  transition: 0.3s;
  font-family: 'Bitter', serif;
  font-size: 20px;
  background-color: white;
  background-image: url('./assets/downarrow.png');
  background-position: calc(100% - 10px);
  background-repeat: no-repeat;
  background-size: 20px 12.50px;
  border-radius: 0;
  appearance: none;

  &:focus {
    outline: none;
    border: solid 5px $darkColor;
  }
}

.content {
  width: 100%;
  padding: 20px;
  font-family: 'Bitter', serif;
  text-align: center;

  h2, .example {
    text-align: center;
    margin-bottom: 10px;
  }

  .copyright {
    white-space: pre-wrap;
    color: $lightColor
  }
}
